.exo-2-font {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.exo-2-500 {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}